<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.desktop.telephone.telephonedesktop">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!--获取系统图片,删除图片-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--所有应用-->
        <activity android:name=".desktop.Activity.AllAppsActivity"/>
        <activity android:name=".desktop.Activity.PhotosActivity"/>
        <activity android:name=".desktop.Activity.BannerSettingActivity"/>
        <activity android:name=".desktop.Activity.BannerActivity"/>
    </application>

</manifest>